.flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:2px;

}
.input{
    height: 100px;
    width:85px;
}
.finaloutput{
    margin-top: 30px;


}
.smallimage{
        border-radius: 50%;
}
.finalgif{
    border-radius: 10px;

}