.flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:2px;

}
.input{
    height: 100px;
    width:85px;
}
.finaloutput{
   padding-top: 30px;
   position: relative;
  overflow: auto;
     width:45vw;
  display: flex;
  justify-content: center;
  margin-left: 20px;

}
.finaloutput2{
    padding: 15px 0px;
   overflow: auto;
      width:45vw;
   display: none;
  margin-left: 20px;


 }
.smallimage{
        border-radius: 50%;
}
.finalgif{
    border-radius: 20px;

}   @media(max-width:1000px){
    .finaloutput{
          width:80%;
          margin: auto;
          display:none;
    }
    .finaloutput2{
        width:80%;
        margin:auto;
       display: flex;
    }

 }
 .filter{
     width:80%;
     margin:0 auto;
 }
